* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
}


#container {
    position: relative;
    max-width: 75vw;
    max-height: 75vh;
    width: 75vmin;
    height: 75vmin;
    justify-self: center;
    background-image: url(/analog_clock/kisspng-clock-face-digital-clock-clip-art-clock-images-free-5a848d6cc549b7.0629676915186363968081.png);
    background-size: 100%;
    align-self: center;
    padding: 10px;
}

#hour,
#second,
#minute {
    position: absolute;
    background: #000;
    transform-origin: bottom;
    border-radius: 10px;
}

#second {
    width: 1%;
    height: 30%;
    top: 20%;
    left: 49.25%;
}

#minute {
    width: 1.6%;
    height: 41%;
    top: 9%;
    left: 48.9%;
}

#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;

}